In [2]:
import pandas as pd
import numpy as np

In [14]:
base_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/'
confirmed_cases_data_url = base_url + 'time_series_covid19_confirmed_global.csv'
death_cases_data_url = base_url + 'time_series_covid19_deaths_global.csv'
recovery_cases_data_url = base_url+ 'time_series_covid19_recovered_global.csv'

In [15]:
confirmed = pd.read_csv(confirmed_cases_data_url)
deaths =pd.read_csv(death_cases_data_url)
recovery =pd.read_csv(recovery_cases_data_url)

In [16]:
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/12/21,10/13/21,10/14/21,10/15/21,10/16/21,10/17/21,10/18/21,10/19/21,10/20/21,10/21/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,155599,155627,155682,155688,155739,155764,155776,155801,155859,155891
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,175664,176172,176667,177108,177536,177971,178188,178804,179463,180029
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,204790,204900,205005,205106,205199,205286,205364,205453,205529,205599
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,15307,15314,15326,15338,15338,15338,15367,15369,15382,15382
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,61794,62143,62385,62606,62789,62842,63012,63197,63340,63567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,846230,849691,853842,857639,860860,864053,867221,870255,873901,877537
275,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,444729,445538,446294,447032,447032,447032,448322,449031,449705,449980
276,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,9412,9439,9467,9495,9512,9526,9556,9575,9596,9635
277,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,209396,209411,209431,209477,209505,209521,209536,209549,209571,209589
278,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,132016,132108,132251,132285,132333,132368,132368,132405,132437,132540

In [17]:
deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/12/21,10/13/21,10/14/21,10/15/21,10/16/21,10/17/21,10/18/21,10/19/21,10/20/21,10/21/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7230,7234,7238,7238,7238,7243,7246,7247,7247,7249
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2783,2788,2797,2807,2810,2820,2829,2841,2849,2855
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,5859,5862,5864,5867,5870,5872,5873,5875,5878,5881
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,130,130,130,130,130,130,130,130,130,130
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1642,1650,1653,1660,1662,1664,1670,1678,1682,1685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,20763,20869,20950,21043,21131,21194,21269,21344,21416,21487
275,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,4521,4532,4547,4556,4556,4556,4585,4590,4599,4604
276,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1787,1789,1793,1798,1802,1804,1807,1813,1821,1831
277,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,3654,3657,3657,3657,3658,3658,3658,3658,3658,3658
278,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,4645,4648,4655,4655,4657,4658,4658,4659,4659,4662

In [18]:
recovery

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/12/21,10/13/21,10/14/21,10/15/21,10/16/21,10/17/21,10/18/21,10/19/21,10/20/21,10/21/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
263,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
confirmed.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '10/12/21', '10/13/21', '10/14/21', '10/15/21', '10/16/21', '10/17/21',
       '10/18/21', '10/19/21', '10/20/21', '10/21/21'],
      dtype='object', length=643)